---
# Keeping this very simple

- hosts: all
  become: true

  tasks:
    - name: Install build-essential
      apt:
        name: "{{ item }}"
        state: present
      with_items:
        - build-essential # includes gcc, g++ and make
        - autoconf
        - cmake

    - name: Install gdb
      apt:
        name: gdb
        state: present

    - name: Install cppcheck
      apt:
        name: cppcheck
        state: present

    - name: Install OpenJDK 8
      apt:
        name: openjdk-8-jdk
        state: present

    - name: Install git
      apt:
        name: git
        state: present

    - name: Deploy Google Test Framework
      git:
        repo: 'https://github.com/google/googletest.git'
        dest: /opt/google
        version: release-1.8.0

    - name: Configure GTEST_DIR Environment Var
      lineinfile:
        path: /etc/profile.d/googletest.sh
        create: yes
        regexp: '^export GTEST_DIR='
        line: 'export GTEST_DIR=/opt/google/googletest'

    - name: Check if Google Test has already been tested
      stat:
        path: /home/vagrant/test/gtest-all.o
      register: gtest

    - name: Test Google Test
      block:
        - name: Create a test directory
          file:
            path: /home/vagrant/test
            state: directory
        - name: Deploy the Makefile
          copy:
            src: files/Googletest-Makefile
            dest: /home/vagrant/test/Makefile
        - name: Generate the sample tests
          make:
            chdir: /home/vagrant/test
        - name: Run Sample1 Unit Tests
          command: ./sample1_unittest
          args:
            chdir: /home/vagrant/test
          register: unittest
        - debug: msg="{{ unittest.stdout_lines }}"
        - name: Run Sample2 Unit Tests
          command: ./sample2_unittest
          args:
            chdir: /home/vagrant/test
          register: unittest
        - debug: msg="{{ unittest.stdout_lines }}"
        - name: Run Sample4 Unit Tests
          command: ./sample4_unittest
          args:
            chdir: /home/vagrant/test
          register: unittest
        - debug: msg="{{ unittest.stdout_lines }}"
      when: ansible_virtualization_type != "docker" and gtest.stat.exists == False
      become: false

    - name: Install Doxygen
      apt:
        name: doxygen
        state: present

    - name: Install Valgrind
      apt:
        name: valgrind
        state: present

    - name: Change Welcome message of VM
      blockinfile:
        path: /etc/update-motd.d/10-help-text
        block: |
          printf "\n"
          printf "The following have been installed for you convenience:\n"
          printf "  * build-essential (gcc, g++)\n"
          printf "  * Vim, Emacs\n"
          printf "  * Cppcheck\n"
          printf "  * Google Test Framework (Cloned)\n"
          printf "  * Doxygen\n"
          printf "  * Git\n"
          printf "  * OpenJDK 8\n"
          printf "  * Valgrind\n"
